<section class="adm-page" ng-controller="admController" ng-class="{'siteBarHide' : siteBar}">
    <div class="adm-left left-sidebar sidebar" ng-include src="'includes/adminMenu.html'"></div>
    <div class="content">
        <div class="admin-page-container">
            <div class="admin-page-header">
                Редактирование профиля админа.
            </div>
            <div class="copy-form col-sm-6 col-sm-offset-3">
                <form novalidate name="adminForm" ng-submit="submitAdminForm(adminForm)" ng-model="adminForm">
                    <div class="form-group">
                        <div class="label form-label">
                            Ваше имя:
                        </div>
                        <div class="input form-input">
                            <input type="text" name="admName" class="form-control" ng-model="adminLogin" value="{{adminLogin}}" placeholder="Имя администратора" >
                            <input type="hidden" name="admId" class="form-control" ng-model="adminId" value="{{adminId}}" placeholder="Имя администратора">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label form-label">
                            Подтвердите пароль:
                        </div>
                        <div class="input form-input">
                            <input type="text" name="admPass" placeholder="Подтвердите пароль" class="form-control" ng-model="adminPass" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label form-label">
                            Введите новый пароль:
                        </div>
                        <div class="input form-input">
                            <input type="text" name="admNewPass" placeholder="Новый пароль администратора" class="form-control" ng-model="adminNewPass" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label form-label">
                            &nbsp;
                        </div>
                        <div class="input form-input">
                            <input type="submit" class="btn btn-success" value="Отправить">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>