<section class="adm-page" ng-controller="admController" ng-class="{'siteBarHide' : siteBar}">
	<!-- <div class="adm-head dop-head" ng-include src="'includes/adminHead.html'"></div> -->
	<div class="adm-left left-sidebar sidebar" ng-include src="'includes/adminMenu.html'"></div>
	<div class="content">
		<div class="admin-page-container">
			<div class="admin-page-header">
				Редактирование текстов лендинга.
			</div>
            <div class="dop-head">
                Принимается html в чистом виде.
            </div>
            <div class="blocks-textes-block">
            	<form name="formTextEdit" ng-submit="submitTextEditForm()">
            		<!-- <div class="col-sm-6 block-container">
		            	<div class="block-item form-group">
		            		<textarea class="form-control" data-ck-editor placeholder="Текстовый блок №1. Принимается html в чистом виде." type="text" name="newLandingText_0" ng-bind-html="newLandingText[0]" ng-model="landingText[0].blockContent" value="{{landingText[0].blockContent}}"></textarea>
		            	</div>
            		</div> -->
            		<div class="col-sm-6 block-container">
		            	<div class="block-item form-group">
		            		<textarea class="form-control" ckeditor="options" placeholder="Текстовый блок №1. Принимается html в чистом виде." type="text" name="newLandingText_0" ng-bind-html="newLandingText[0]" ng-model="landingText[0].blockContent" value="{{landingText[0].blockContent}}"></textarea>
		            	</div>
            		</div>
            		<div class="col-sm-6 block-container">
		            	<div class="block-item form-group">
		            		<textarea class="form-control" ckeditor="options" placeholder="Текстовый блок №1. Принимается html в чистом виде." type="text" name="newLandingText_1" ng-bind-html="newLandingText[1]" ng-model="landingText[1].blockContent" value="{{landingText[1].blockContent}}"></textarea>
		            	</div>
            		</div>
            		<div class="col-sm-6 block-container">
		            	<div class="block-item form-group">
		            		<textarea class="form-control" ckeditor="options" placeholder="Текстовый блок №1. Принимается html в чистом виде." type="text" name="newLandingText_2" ng-bind-html="newLandingText[2]" ng-model="landingText[2].blockContent" value="{{landingText[2].blockContent}}"></textarea>
		            	</div>
            		</div>
            		<div class="col-sm-6 block-container">
		            	<div class="block-item form-group">
		            		<textarea class="form-control" ckeditor="options" placeholder="Текстовый блок №1. Принимается html в чистом виде." type="text" name="newLandingText_3" ng-bind-html="newLandingText[3]" ng-model="landingText[3].blockContent" value="{{landingText[3].blockContent}}"></textarea>
		            	</div>
            		</div>
            		<div class="col-sm-12 but-area">
            			<!-- <a href="#" class="btn btn-success btn-lg btn-block">Сохранить</a> -->
            			<input type="submit" class="btn btn-success btn-lg btn-block" value="Сохранить">
            		</div>
            	</form>
            </div>
		</div>
	</div>
</section>