<section class="adm-page" ng-controller="admController" ng-class="{'siteBarHide' : siteBar}">
{{siteBar = true}}
	<!-- <div class="adm-head dop-head" ng-include src="'includes/adminHead.html'"></div> -->
	<div class="adm-left left-sidebar sidebar" ng-include src="'includes/adminMenu.html'"></div>
	<div class="content">
		<div class="admin-page-container">
			<div class="admin-page-header">
				Редактирование основных данных
			</div>
            <div class="mainAdminPageForm">
            	<form novalidate>
					<div class="devil-line"></div>
					<div class="col-sm-6 col-sm-offset-3" ng-style="{'clear':'right'}">
						<div class="form-group">
							<div class="row">
								<div class="label col-sm-12 text-left">Тип Меню, Фиксировано/нет.</div>
								<div class="col-sm-6">
									<label for="fMenuY">
										Стандартно в шапке
										<input type="radio" name="menu-type" class="" id="fMenuY" ng-model="main.menuType" value="normal">
									</label>
								</div>
								<div class="col-sm-6">
									<label for="fMenuN">
										Фиксировано		
										<input type="radio" name="menu-type" class="" id="fMenuN" ng-model="main.menuType" value="fixed">
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="devil-line"></div>
					<div class="col-sm-6 col-sm-offset-3" ng-style="{'clear':'right'}">
						<div class="form-group">
							<div class="label text-left">Количество элементов галлереи в одной строке</div>
							<select type="text" name="button-link" ng-model="main.galleryCountLine" class="form-control">
                                <option value="1" ng-selected="{{main.galleryCountLine == '1'}}">1</option>
                                <option value="2" ng-selected="{{main.galleryCountLine == '2'}}">2</option>
                                <option value="3" ng-selected="{{main.galleryCountLine == '3'}}">3</option>
                                <option value="4" ng-selected="{{main.galleryCountLine == '4'}}">4</option>
                                <option value="6" ng-selected="{{main.galleryCountLine == '6'}}">6</option>
                                <option value="12" ng-selected="{{main.galleryCountLine == '12'}}">12</option>
                            </select>
                        </div>
                    </div>
					<div class="devil-line"></div>
					<div class="col-sm-6 col-sm-offset-3" ng-style="{'clear':'right'}">
						<div class="form-group">
							<div class="label text-left">Основной шрифт</div>
							<select type="text" name="button-link" ng-model="main.font" class="form-control">
                                <option value="lobster" ng-selected="{{main.font == 'lobster'}}">lobster</option>
                                <option value="Roboto" ng-selected="{{main.font == 'Roboto'}}">Roboto</option>
                                <option value="Roboto condensed" ng-selected="{{main.font == 'Roboto condensed'}}">Roboto Condensed</option>
                                <option value="gotham" ng-selected="{{main.font == 'gotham'}}">Gotham</option>
                            </select>
                        </div>
                    </div>
					<div class="devil-line"></div>
					<div class="col-sm-6 col-sm-offset-3" ng-style="{'clear':'right'}">
						<div class="form-group">
							<div class="label">Основной title</div>
							<input type="text" name="mailTitle" class="form-control" placeholder="Основной title, и про СЕО не забыл" ng-model="main.mainTitle" value="{{main.mainTitle}}">
						</div>
						<div class="form-group">
							<div class="label">Основной номер телефона сайта</div>
							<input type="text" name="phone" class="form-control" placeholder="Основной номер телефона сайта" ng-model="main.mainPhone" value="{{main.mainPhone}}">
						</div>
						<div class="form-group">
							<div class="label">Основной e-mail сайта</div>
							<input type="text" name="mail" class="form-control" placeholder="Основной e-mail сайта" ng-model="main.mainMail" value="{{main.mainMail}}">
						</div>
						<div class="form-group">
							<div class="label">Основной e-mail для отправки почты</div>
							<input type="text" name="mailSend" class="form-control" placeholder="Основной e-mail для отправки почты" ng-model="main.mainMailSend" value="{{main.mainMailSend}}">
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6">
									<div class="label">Счетчик Яндекса</div>
									<input type="text" name="mainYandexId" class="form-control col-sm-6" placeholder="{{main.mainYandexId}}" ng-model="main.mainYandexId" value="{{main.mainYandexId}}">
								</div>
								<div class="col-sm-6">
									<div class="label">Идентефикатор цели</div>
									<input type="text" name="mainYandexTarget" class="form-control col-sm-6" placeholder="{{main.yaCounterTarget}}" ng-model="main.yaCounterTarget" value="{{main.yaCounterTarget}}">
								</div>
							</div>
						</div>
					</div>
					<div class="devil-line"></div>
					<div class="col-sm-6 col-sm-offset-3 but-area">
						<div class="form-group"></div>
					</div>
					<div class="col-sm-6 col-sm-offset-3 but-area">
						<a href="#" class="btn btn-success" ng-click="MainAdmin(main.font,main.menuType,main.galleryCountLine,main.mainPhone,main.mainMail,main.mainMailSend,main.mainTitle,main.mainYandexId,main.yaCounterTarget)">Сохранить</a>
						<!-- <a href="#" class="btn btn-danger" ng-click="$state.reload();">Отменить</a> -->
					</div>
					<div class="col-sm-6 col-sm-offset-3 but-area">
						<div class="form-group"></div>
					</div>
					<div class="devil-line"></div>
				</form>
            </div>
		</div>
	</div>
</section>