<section class="adm-page" ng-controller="admController" ng-class="{'siteBarHide' : siteBar}">
	<div class="adm-left left-sidebar sidebar" ng-include src="'includes/adminMenu.html'"></div>
	<div class="content">
		<div class="admin-page-container">
			<div class="admin-page-header">
				Редактирование копирайтов футера.
			</div>
            <div class="dop-head">
                Принимается html в чистом виде.
            </div>
			<div class="copy-form">
				<form novalidate>
					<div class="col-sm-6 col-sm-offset-3" ng-style="{'clear':'right'}">
						<div class="form-group">
							<textarea class="form-control" data-ck-editor placeholder="Копирайты футера. Принимается html в чистом виде." type="text" name="copyrightNew" ng-bind-html="textCopy" ng-model="textCopy" value="{{textCopy}}"></textarea>
						</div>
					</div>
					<div class="col-sm-6 col-sm-offset-3 but-area">
						<a href="#" class="btn btn-success" ng-click="editCopygiht(textCopy,textCopyId)" ng-disabled="textCopy == null">Сохранить</a>
						<!-- <a href="#" class="btn btn-danger" ng-click="$state.reload();">Отменить</a> -->
					</div>
				</form>
			</div>
		</div>
	</div>
</section>