<section class="adm-page" ng-controller="admController" ng-class="{'siteBarHide' : siteBar}">
	<!-- <div class="adm-head dop-head" ng-include src="'includes/adminHead.html'"></div> -->
	<div class="adm-left left-sidebar sidebar" ng-include src="'includes/adminMenu.html'"></div>
	<div class="content">
		<div class="admin-page-container">
			<div class="admin-page-header">
				Редактирование галереи
			</div>
            <div class="dop-head">
                Для удалени слайда используйте красную кнопку в низу, если оставлять поля пустыми при редактировании, буду считаться как отключенные!
            </div>
			<div class="slider-container col-sm-10">
				<div class="row">
					<div class="slider-item col-sm-2" ng-repeat="item in items.gallery">
						<div class="slider-titile">
							Изображение № {{item.id}}
						</div>
                        <div class="slider-image form-group"  ng-zoom zoom-image="{{item.imageUrl}}">
                            <div class="label">Изображение</div>
                            <div class="slider-image-item" ng-style="item.minImageUrl && {'background-image': 'url('+item.minImageUrl+')'} || !item.minImageUrl && {'background-image': 'url('+item.imageUrl+')'}" >
                            </div>
                        </div>
                        <div class="slider-name form-group">
                            <div class="label">Текст на изображении</div>
                            <textarea type="text" name="image-name" ng-model="item.imageTitle" value="item.imageTitle" placeholder="Название изображения" class="form-control"></textarea>
                        </div>
                        <div class="slider-name form-group">
                            <div class="label">Ссылка</div>
                            <input type="text" name="button-link" ng-model="item.imageLink" value="item.imageLink" placeholder="Ссылка изображения" class="form-control">
                        </div>
                        <div class="slider-name form-group">
                            <div class="label">Выбрать галерею</div>
                            <select type="text" name="button-link" ng-model="item.galleryName" class="form-control">
                                <option value="gallery1" ng-selected="{{item.galleryName == 'gallery1'}}">Галерея 1</option>
                                <option value="gallery2" ng-selected="{{item.galleryName == 'gallery2'}}">Галерея 2</option>
                            </select>
                        </div>
                        <div class="slider-button form-group">
                            <input type="button" name="sub" class="btn btn-primary" ng-click="editGalleryImage(item.id, item.imageTitle, item.imageLink, item.galleryName)" value="Изменить" style="width:100%;">
                        </div>
						<div class="slider-button form-group">
                            <input type="button" name="remove" class="btn btn-danger" ng-click="removeGalleryImage(item.id)" value="Удаить" style="width:100%;">
                        </div>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
                <div class="">
                    <br>
                    Загрузить еще файл
                </div>
                    <br>
                <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                <label class="custom-file-upload btn btn-info">
                    Выберите файл.
                    <input type="file" nv-file-select="" uploader="galleryUploader" multiple /><br/>
                </label>
            </div>

            <div class="col-sm-12">
                <p>Количество выбраных файлов: {{ galleryUploader.queue.length }}</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Имя</th>
                            <th ng-show="galleryUploader.isHTML5">Размер</th>
                            <th ng-show="galleryUploader.isHTML5">Прогресс</th>
                            <th>Стату</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in galleryUploader.queue">
                            <td>
                                <strong>{{ item.file.name }}</strong>
                                <!-- Image preview -->
                                <!--auto height-->
                                <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                <!--auto width-->
                                <div ng-show="galleryUploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                <!--fixed width and height -->
                                <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                            </td>
                            <td ng-show="galleryUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="galleryUploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <i class="fa fa-upload" aria-hidden="true"></i> Загрузить
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                    <i class="fa fa-ban" aria-hidden="true"></i> Отмена
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> Удалить
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="admin-slider-buttons col-sm-12">
                <div>
                    Queue progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': galleryUploader.progress + '%' }"></div>
                    </div>
                </div>
                <div class="">
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-success btn-s" ng-click="galleryUploader.uploadAll()" ng-disabled="!galleryUploader.getNotUploadedItems().length" ng-class="{'fixed' : galleryUploader.getNotUploadedItems().length}">
                            <i class="fa fa-upload" aria-hidden="true"></i> Загрузить все
                        </button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-warning btn-s" ng-click="galleryUploader.cancelAll()" ng-disabled="galleryUploader.queue.length == 0" ng-class="{'fixed' : galleryUploader.getNotUploadedItems().length}">
                            <i class="fa fa-trash-o" aria-hidden="true"></i> Удалить все
                        </button>
                    </div>
                </div>
            </div>
		</div>
	</div>
</section>