<div ng-controller="mainController">
	<nav class="nav-top">
		<div class="container">
			<ul class="flex-menu ">
				<li class="flex-item"><a href="#first">1</a></li>
				<li class="flex-item"><a href="#first">1</a></li>
				<li class="flex-item"><a href="#first">1</a></li>
				<li class="flex-item"><a href="#first">1</a></li>
				<li class="flex-item"><a href="#first">1</a></li>
			</ul>
		</div>
	</nav>
	<section class="section section-content slider-section">
		<div class="main-slider" ng-include src="'includes/slider.html'"></div>
	</section>
	<section class="section section-content textes-section">
		<div class="container main-text-container big-text-content">
			<div class="row">
				<div class="col-sm-12 col-xs-12 text-block-item" id="block-{{item.id}}" ng-repeat="item in items.blocks" ng-if="$index==0">
					<!-- <div class="text-block-title block-title" ng-if="item.title != ''" >{{item.blockTitle}}</div> -->
					<div class="" ng-bind-html="item.blockContent">{{item.blockContent}}</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section gallery-section" id="gallery">
		<div class="container">
			<div ng-if="0">
				Можно передать колличество элементов в линии - 1,2,3,4,6,12. Пример: lineCount="4"
				Можно еще передать заголовок блока, если оставить пустым, не выведется. blockHeader="Галерея"
				Но передается из БД
			</div>
			{{main.galleryCountLine}}
			<div class="main-slider" ng-include onload='lineCount=main.galleryCountLine'; blockHeader="Галерея"' src="'includes/gallery-block.html'"></div>
		</div>
	</section>
	<section class="section section-content form-section" id="first">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<div class="main-form">
						<div class="row">
							<div class="col-sm-12 form-label">
								Отправьте нам заявку
							</div>
						</div>
						<!-- <form novalidate> -->
						<form novalidate name="mainForm" ng-submit="submitMainForm(mainForm)" ng-model="mainForm">
							<div class="form-group">
								<div class="label form-label">
									Ваше имя:
								</div>
								<div class="input form-input">
									<input type="text" name="name" placeholder="Ваше имя:" class="form-control" ng-model="name">
								</div>
							</div>
							<div class="form-group">
								<div class="label form-label">
									e-mail для связи:
								</div>
								<div class="input form-input">
									<input type="text" name="mail" placeholder="Ваш mail:" class="form-control" ng-model="mail">
								</div>
							</div>
							<div class="form-group">
								<div class="label form-label">
									Телефон для связи:
								</div>
								<div class="input form-input">
									<input type="text" name="phone" placeholder="Ваш номер телефона:" class="form-control" ng-model="phone">
								</div>
							</div>
							<div class="form-group">
								<div class="label form-label">
									&nbsp;
								</div>
								<div class="input form-input">
									<input type="submit" class="btn btn-success" value="Отправить">
								</div>
							</div>
							<div class="successtext flashAlert" ng-class="{'show' : success}">
							    <div class="flashContent">
							        {{success}}
							    </div>
							</div>
							<!-- <div class="col-sm-6 col-sm-offset-3 but-area">
								<a href="#" class="btn btn-success" ng-click="submitMainForm(mainForm)">Сохранить</a>
							</div> -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section-content textes-section">
		<div class="container main-text-container small-text-content">
			<div class="col-sm-6 col-xs-12 text-block-item" id="block-{{item.id}}" ng-repeat="item in items.blocks" ng-if="$index!=0 && $index != 3">
				<!-- <div class="text-block-title block-title" ng-if="item.title != ''">{{item.blockTitle}}</div> -->
				<div class="" ng-bind-html="item.blockContent">{{item.blockContent}}</div>
			</div>
		</div>
	</section>
	<section class="section section-content slider-section">
		<div class="middle-carousel" ng-include src="'includes/carousel.html'"></div>
	</section>
	<section class="section section-content textes-section">
		<div class="container main-text-container small-text-content">
			<div class="col-sm-12 col-xs-12 text-block-item" id="block-{{item.id}}" ng-repeat="item in items.blocks" ng-if="$index == 3">
				<!-- <div class="text-block-title block-title" ng-if="item.title != ''">{{item.blockTitle}}</div> -->
				<div class="" ng-bind-html="item.blockContent">{{item.blockContent}}</div>
			</div>
		</div>
	</section>
</div>
