<div class="adm-main-menu">
	<div class="burger-menu" ng-click="leftSiteBar(siteBar = !siteBar)">
		<div id="menu-toggle"  ng-class="{'open' : !siteBar}">
		  <div id="hamburger">
		    <span></span>
		    <span></span>
		    <span></span>
		  </div>
		  <div id="cross">
		    <span></span>
		    <span></span>
		  </div>
		</div>
	</div>
	<div class="menu-block">
		<div class="close-menu"></div>
		<div class="adminLogin">Добро пожаловать {{globals.currentUser.username}}</div>
		<ul>
			<li><a href="/">Вернуться на сайт</a></li>
			<li><a href="/devil/edit">Редактировать профиль</a></li>
			<li><a href="/devil">Основная информация</a></li>
			<li><a href="/devil/slider">Редактирование слайдера</a></li>
			<li><a href="/devil/gallery">Редактирование галереи</a></li>
			<li><a href="/devil/texts">Редактирование текстов</a></li>
			<li><a href="/devil/copy">Копирайты футера</a></li>
		</ul>
		<div  class="logout" ng-href="/login" ng-if="globals.currentUser.username"><a href="/login" class="btn btn-primary">Выход</a></div>
		<div class="" ng-if="main.browser != 'ok'">
			Гарантировано работает в браузере Google Chrom
		</div>
	</div>
</div>
<div class="successtext flashAlert" ng-style="success != '' && {'display':'block'}" ng-click="successHide()">
    <div class="flashContent">
        {{success}}
    </div>
</div>