		<div class="navigation">
            <div class="container">
                <ul class="flex-menu">
                    <li class="flex-item">Добро пожаловать {{globals.currentUser.username}}</li>
                    <li class="flex-item"><a href="/">Сайт</a></li>
                    <li class="flex-item"><a href="/devil">Администрирование</a></li>
                </ul>
            </div>
        </div>