		<div class="footer">
			<footer>
				<div class="container">
					<div class="row">
						<div class="foter-text col-sm-12">
							is GruT &trade; v1.1
						</div>
						<div class="copy col-sm-6" ng-controller="mainController">
							<div class="copyrights" ng-repeat="copy in items.copyrights" ng-if="$index == 0" ng-bind-html="copy.copyrights">{{copy.copyrights}}</div>
							<div class="">&copy;POWERED BY VIK</div>
						</div>
						<div class="footerContact col-sm-6 text-right">
							<div class="footerPhone"><a href="tel:+79613007077">+7 (961) 300-70-77</a></div>
							<div class="footerMail"><a href="mailto:vik-viktor@bk.ru">vik-viktor@bk.ru</a></div>
						</div>
					</div>
				</div>
			</footer>
		</div>
<style type="text/css">
	.preloader {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: rgba(0,0,0,0.5);
	}
	.preloader svg {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -100px;
		margin-left: -100px;
	}
</style>
<div class="preloader" style="display:none;" ng-hide="isReady" ng-if="ctyle == 'a.'" ng-style="ctyle == 'a.' && {'display':'block'}">
	<svg width="300" height="300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-pacman">
	    <g ng-attr-style="display:{{config.showBean}}" style="display:block">
	      <circle cx="42.5778" cy="50" r="4" ng-attr-fill="#000" fill="#e80c0c">
	        <animate attributeName="cx" calcMode="linear" values="95;35" keyTimes="0;1" dur="0.9" begin="-0.6030000000000001s" repeatCount="indefinite"></animate>
	        <animate attributeName="fill-opacity" calcMode="linear" values="0;1;1" keyTimes="0;0.2;1" dur="0.9" begin="-0.6030000000000001s" repeatCount="indefinite"></animate>
	      </circle>
	      <circle cx="62.9778" cy="50" r="4" ng-attr-fill="rgb(232, 12, 12)" fill="#e80c0c">
	        <animate attributeName="cx" calcMode="linear" values="95;35" keyTimes="0;1" dur="0.9" begin="-0.29700000000000004s" repeatCount="indefinite"></animate>
	        <animate attributeName="fill-opacity" calcMode="linear" values="0;1;1" keyTimes="0;0.2;1" dur="0.9" begin="-0.29700000000000004s" repeatCount="indefinite"></animate>
	      </circle>
	      <circle cx="82.7778" cy="50" r="4" ng-attr-fill="#449d44" fill="#e80c0c">
	        <animate attributeName="cx" calcMode="linear" values="95;35" keyTimes="0;1" dur="0.9" begin="0s" repeatCount="indefinite"></animate>
	        <animate attributeName="fill-opacity" calcMode="linear" values="0;1;1" keyTimes="0;0.2;1" dur="0.9" begin="0s" repeatCount="indefinite"></animate>
	      </circle>
	    </g>
	    <g ng-attr-transform="translate(-15 0)" transform="translate(-15 0)">
	      <path d="M50 50L20 50A30 30 0 0 0 80 50Z" ng-attr-fill="rgb(239, 236, 6)" fill="#efec06" transform="rotate(18.3333 50 50)">
	        <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;45 50 50;0 50 50" keyTimes="0;0.5;1" dur="0.9s" begin="0s" repeatCount="indefinite"></animateTransform>
	      </path>
	      <path d="M50 50L20 50A30 30 0 0 1 80 50Z" ng-attr-fill="rgb(239, 236, 6)" fill="#efec06" transform="rotate(-18.3333 50 50)">
	        <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;-45 50 50;0 50 50" keyTimes="0;0.5;1" dur="0.9s" begin="0s" repeatCount="indefinite"></animateTransform>
	      </path>
	    </g>
	  </svg>
</div>