<div class="container">
	<data-owl-carousel class="owl-carousel" data-options="{nav: true, pagination: true, items: 3, loop: false, margin: 10,center:false}">
		<div owl-carousel-item="" ng-repeat="item in ::items.slides | filter:{sliderName:'carousel'}" class="item">
		  	<a href="{{item.linkUrl}}" ng-if="item.buttonText == '' &&  item.linkUrl != ''">
		  		<img src="" ng-src="{{item.imageUrl}}">
		  	</a>
		  	<img src="" ng-src="{{item.imageUrl}}" ng-if="item.buttonText != '' || item.buttonText == '' && item.linkUrl == ''">
			<div class="slide-text" ng-if="item.imageText != ''">{{item.imageText}}</div>
			<div class="slider-btn" ng-if="item.linkUrl != '' && item.buttonText != '' ">
				<a href="{{item.linkUrl}}" class="btn btn-default" >{{item.buttonText}}</a>
			</div>
		</div>
	</data-owl-carousel>
</div>