		<div class="footer"  style="display:none;" ng-style="ctyle == '' && {'display':'block'}" ng-hide="ctyle == 'a.'">
			<footer>
				<div class="container">
					<div class="row">
						<div class="foter-text col-sm-12">
							Тут как обычно текст
						</div>
						<!-- <footer-copy></footer-copy> -->
						<div class="copy col-sm-6" ng-controller="mainController">
							<div class="copyrights" ng-repeat="copy in items.copyrights" ng-if="$index == 0" ng-bind-html="copy.copyrights">{{copy.copyrights}}</div>
						</div>
						<div class="footerContact col-sm-6 text-right">
							<div class="footerPhone"><a href="tel:{{main.mainPhone}}">{{main.mainPhone}}</a></div>
							<div class="footerMail"><a href="mailto:{{main.mainMail}}">{{main.mainMail}}</a></div>
						</div>
					</div>
				</div>
			</footer>
		</div>
		<ng-include src="'includes/admin-footer.html'" ng-if="ctyle == 'a.'"></ng-include>
	</div>
	<script type="text/javascript" src="js/vendors.js"></script>
	<script type="text/javascript" src="http://cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>
	<script src="http://www.elevateweb.co.uk/wp-content/themes/radial/jquery.elevatezoom.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/controllers/mainController.js?1"></script>
	<script type="text/javascript" src="js/controllers/authentication.service.js"></script>
	<script type="text/javascript" src="js/controllers/user.service.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
</body>
</html>