<div class="gallery-header" ng-if="blockHeader != ''">
	{{blockHeader}}
</div>
<div ng-repeat="item in items.gallery" class="gallery-items " ng-class="{'col-sm-12': lineCount == 1, 'col-sm-6': lineCount == 2, 'col-sm-4': lineCount == 3, 'col-sm-3': lineCount == 4, 'col-sm-2': lineCount == 6, 'col-sm-1': lineCount == 12}">
    <span href="{{item.imageUrl}}" rel="gallery" class="swipebox gallery-item paralax" ng-href="{{item.imageUrl}}" ng-style="{'background-image':'url({{item.minImageUrl}})'}">
        <!-- <img ng-src="{{item.minImageUrl}}" alt="image"> -->
    </span>
    <p>I'm an image link that opens a image lightbox gallery</p>
</div>
