<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru" ng-app="devilApp">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <title>{{main.mainTitle}}</title>
    <link href="style.css" rel="stylesheet">
    <link href="css/a.style.css" rel="stylesheet" ng-if="ctyle == 'a.'">
    <link href="css/custom.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
    <!--headerIncludes-->
</head>
<body class="page" ng-class="'menu-type-' + main.menuType + ' ' + main.font">
    <div class="wrapp main-wrapp"> 
        <!-- <ng-include src="'includes/admin-head.html'" ng-if="ctyle == 'a.'"></ng-include> -->