	<div class="navigation">
            <div class="container">
                <ul class="flex-menu">
                    <li class="flex-item"><a href="/">main</a></li>
                    <li class="flex-item"><a href="/devil">admin</a></li>
                </ul>
            </div>
        </div>