<data-owl-carousel class="owl-carousel" data-options="{nav: true, pagination: true, rewindNav : false, items: 1}">
	<div owl-carousel-item="" ng-repeat="item in ::items.slides | filter:{sliderName:'topslider'}" class="item">
	  	<a href="{{item.linkUrl}}" ng-if="item.buttonText == '' &&  item.linkUrl != ''">
	  		<img src="" ng-src="{{item.imageUrl}}">
	  		<div class="slide-title" ng-if="item.imageTitle">{{item.imageTitle}}</div>
	  	</a>
	  	<img src="" ng-src="{{item.imageUrl}}" ng-if="item.buttonText != '' || item.buttonText == '' && item.linkUrl == ''">
	  	<div class="slide-content">
		  	<div class="slide-title" ng-if="item.buttonText != '' || item.buttonText == '' && item.linkUrl == '' && item.imageTitle">{{item.imageTitle}}</div>
			<div class="slide-text" ng-if="item.imageText != ''">{{item.imageText}}</div>
			<div class="slider-btn" ng-if="item.linkUrl != '' && item.buttonText != '' ">
				<a href="{{item.linkUrl}}" class="btn btn-default" >{{item.buttonText}}</a>
			</div>
	  	</div>
	</div>
</data-owl-carousel>