<ul>
    <li ng-repeat='photo in photos'>
        <a ng-href='{{ photo.imageUrl }}' class='swipebox' title='{{ photo.title }}' rel="gallery">
            <img ng-src='{{ photo.imageUrl }}' alt='image'>
        </a>
    </li>
</ul>

